[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "==13.4.1"
telethon = "*"
aiohttp = "*"
bleach = "*"
pretty-errors = "*"
emoji = "*"
future = "*"
google-trans-new = "*"
nltk = "*"
psutil = "*"
fonttools = "*"
markdown2 = "*"
"nekos.py" = "*"
nekobin = "*"
requests = "*"
spamwatch = "*"
wikipedia = "*"
bs4 = "*"
speedtest-cli = "*"
coffeehouse = "*"
jikanpy = "*"
heroku3 = "*"
zalgo-text = "*"
pyrate-limiter = "*"
psycopg2-binary = "*"
"hurry.filesize" = "*"
alphabet-detector = "*"
beautifulsoup4 = "*"
regex = "*"
lxml = "*"
cachetools = "*"
telegraph = "*"
spongemock = "*"
geopy = "*"
ffmpeg = "*"
gpytranslate = "*"
Pyrogram = "*"
Pillow = "*"
PyYAML = "*"
SQLAlchemy = "*"
TgCrypto = "*"
CurrencyConverter = "*"

[dev-packages]
pdbpp = "*"
flake8 = "*"

[requires]
python_version = "3.9"
